@import "../../../styles/bs_variables";
nav {
  height: 160px;
  background-color: transparent;
  width: 100% !important;
  align-content: center;
  position: sticky;
  top: 0;
  a {
    padding: 0.6rem 2rem;
    // border: 1px solid $primary;
    border-radius: 38px;
    position: relative;
    transition: all 0.5s ease;

    .logo-type {
      .title {
        color: #000000;
        transition: all 0.5s ease;
      }
      small {
        position: absolute;
        color: #333;
        transition: all 0.5s ease;
      }
    }
  }
  .links {
    ul > li {
      a {
        font-size: 2rem;
        caret-color: $primary !important;
        padding: 0.6rem 2rem;
        border: 1px solid $primary;
        color: #000000 !important;
        border-radius: 38px;
        transition: all 0.5s ease;
        &:hover {
          color: $primary !important;
          border: 1px solid $primary;
        }
      }
    }
  }
}

@media (max-width: 470px) {
  .container {
    padding: 10px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
