@import "../../../styles/bs_variables"; // bootstrap variables
$card-main-color: #303344;
.card {
  color: #000000;
  background-color: transparent;
  .card-header {
    background-color: transparent;
  }
  .card-body {
    background-color: transparent;
  }
}
