<div class="weather-details-wrraper">
  <div class="container">
    <div class="row">
      <div class="p-0">
        <div class="card text-center p-0 border-0 text-dark">
          <div class="card-header">
            <h4>Day</h4>
          </div>
          <div class="container">
            <div class="card-body my-3">
              <h3 class="city">City</h3>
              <div
                class="text-center __temp--info d-flex justify-content-center align-items-center gap-3"
              >
                <h1>Temperature</h1>
                <img src="" alt="img-Icon" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-1 bg-primary">One column</div> -->
    </div>
  </div>
</div>
