<main>
  <ng-container class="section">
    <ul class="bg-primary">
      <li *ngFor="let user of usersList">
        {{ user }}
      </li>
    </ul>
    <h5>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem
      accusamus dolores, at, perspiciatis a sapiente cupiditate nam modi tenetur
      blanditiis nobis assumenda, eaque mollitia magni aliquam beatae expedita
      id accusantium quod sunt hic. Temporibus, quidem? Aliquam voluptatibus
      cupiditate possimus adipisci voluptatem id tempore incidunt iusto
      necessitatibus aliquid ducimus ipsa quam labore consequuntur iure rerum
      minus laudantium odit numquam, maiores assumenda? Ea minus, a impedit
      totam laudantium aperiam odio magni quia qui distinctio quo dicta nobis
      illum accusamus ab. Cumque ab odit sequi eligendi dicta aperiam nesciunt,
      amet ipsum alias sapiente cupiditate molestias laudantium, esse veniam
      laboriosam quasi quos saepe ad?
    </h5>

    <button class="btn btn-primary">Click Me!</button>
  </ng-container>
</main>
