@import "../node_modules/normalize.css/normalize.css";
@import "./styles/bs_variables"; // bootstrap variables

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background-image: url("./assets/images/sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate(-40%, -50%) rotate(45deg); /* Adjust the angle as needed */
  z-index: -1; /* Ensure it stays behind other content */
}

// Global

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
ul,
p,
a {
  margin: 0;
  padding: 0;
}
small {
  margin-top: -10px !important;
}
a {
  text-decoration: none !important;
  color: $body-color !important;
  cursor: pointer;
}

small {
  color: $body-secondary-color;
}
