@import "../node_modules/normalize.css/normalize.css";
@import "./styles/bs_variables"; // bootstrap variables

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  position: relative;
  padding: 0;
  margin: 0;
}

@media (min-width: 700px) {
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background-image: url("./assets/images/sky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(180deg); /* Adjust the angle as needed */
    z-index: -1; /* Ensure it stays behind other content */
  }
}

@media (max-width: 600px) {
  body::before {
    content: "";
    background-image: url("./assets/images/sky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
}
// Global

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
ul,
p,
a {
  margin: 0;
  padding: 0;
}
small {
  margin-top: -10px !important;
}
a {
  text-decoration: none !important;
  color: $body-color !important;
  cursor: pointer;
}

small {
  color: $body-secondary-color;
}
