footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 11111111111111111111111111111111111111;
  background: linear-gradient(
    to right,
    rgb(0, 180, 219, 0.1),
    rgb(0, 131, 176, 0.1)
  ) !important;
  background: -webkit-linear-gradient(
    to right,
    rgb(0, 180, 219, 0.1),
    rgb(0, 131, 176, 0.1)
  );
  background: -webkit-linear-gradient(
    to right,
    rgb(0, 180, 219, 0.1),
    rgb(0, 131, 176, 0.1)
  );
  div {
    p {
      color: #eeeeeecf;
      span {
        font-style: italic;
        color: #f9cf62;
      }
    }
  }
}
