footer {
  width: 100%;
  background: linear-gradient(
    to right,
    rgb(0, 180, 219, 0.1),
    rgb(0, 131, 176, 0.1)
  ) !important;
  background: -webkit-linear-gradient(
    to right,
    rgb(0, 180, 219, 0.1),
    rgb(0, 131, 176, 0.1)
  );
  background: -webkit-linear-gradient(
    to right,
    rgb(0, 180, 219, 0.1),
    rgb(0, 131, 176, 0.1)
  );
  div {
    p {
      color: #333;
      span {
        font-style: italic;
        color: #f9cf62;
        background-color: orangered;
        color: transparent;
        background-clip: text;
      }
    }
  }
}
